.App {
  text-align: center;
  padding: 0 10vw;
  font-size: 1vw;
}

.page {
  height: 100dvh;
}
ul,
li {
  margin: 0;
  padding: 0;
}

.big-title {
  font-family: "OAGothic-ExtraBold";
  font-size: 3.5vw;
}

.bold-text {
  font-family: "OAGothic-ExtraBold";
}
.detail-page {
  width: 70%;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media screen and (max-width: 768px) {
  .App {
    padding: 0 5vw;
    font-size: 4vw;
  }
  .detail-page {
    width: 100%;
  }
  .big-title {
    font-size: 10vw;
  }
}
